* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Helvetica;
}

a {
    text-decoration: none;
    color: white;
}

#header_logo {
    text-align: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.logo_text {
    margin: auto;
    font-size: 2em;
}

#container {
    height: 600px;
    background-image: url("../images/projeto.jpg");
    background-position: center;
    background-size: cover;
}

#container_info {
    text-align: right;
    padding: 70px;
    color: white;
}

#container_info h1 {
    margin-top: 300px;
    font-size: 3em;
}

#nav_menu {
    width: 100%;
    margin-left: auto ;
    margin-right: auto ;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid rgb(31, 101, 106);
    border-bottom: 1px solid rgb(31, 101, 106);
    padding: 10px
}

#nav_menu ul {
    text-align: center;
    text-align: center;
    color: rgb(31, 101, 106);
    font-weight: bold;
    overflow: hidden;
}

#nav_menu li {
    width: 33%;
    display:inline-block;
}
